.container{
    max-width: 1200px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* =========================
   UTILITIES
========================= */

.section {
    padding: 4rem 0 2rem;
}

.section__title-container{
    margin-bottom: var(--mb-2);
}

.section__title {
    font-size: var(--h2-font-size);
    margin: var(--mb-1) 0 var(--mb-0-5);
    line-height: 1.2;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 800;
}

.section__title span{
    color: var(--text-accent);
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    color: var(--primary);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title-left,
.section__subtitle-left {
    text-align: left;
}

.section__title-wrapper{
    margin-bottom: var(--mb-2);
}

.section__title-wrapper .section__title-container{
    margin-bottom: 0;
}

.section__round-pill{
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: #F3F3F3;
    color: #2C2C2C;
    font-size: var(--normal-font-size);
    border-radius: 9999px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #C7C7C7;
}

