.container{
    max-width: 1200px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* =========================
   UTILITIES
========================= */

.section {
    padding: 4rem 0 2rem;
}

.section__title-container{
    margin-bottom: var(--mb-2);
}

.section__title {
    font-size: var(--h2-font-size);
    margin: var(--mb-1) 0 var(--mb-0-5);
    line-height: 1.2;
    color: var(--primary);
}

.section__title span{
    color: var(--text-accent);
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    color: var(--primary);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title-left,
.section__subtitle-left {
    text-align: left;
}

.section__title-wrapper{
    margin-bottom: var(--mb-2);
}

.section__title-wrapper .section__title-container{
    margin-bottom: 0;
}

.section__round-pill{
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: #F3F3F3;
    color: #2C2C2C;
    font-size: var(--normal-font-size);
    border-radius: 9999px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #C7C7C7;
}

.cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition:
        width 0.15s ease,
        height 0.15s ease,
        background 0.15s ease,
        border 0.15s ease,
        border-radius 0.15s ease,
        padding 0.15s ease;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-follower.active {
    height: 38px;
    padding: 0 16px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 999px;
    width: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cursor-follower::after {
    content: attr(data-text);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    opacity: 0;
    transform: translateY(2px);
    transition: opacity 0.12s ease, transform 0.12s ease;
    white-space: nowrap;
}

.cursor-follower.active::after {
    opacity: 1;
    transform: translateY(0);
}

.card {
    cursor: none;
}