/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .section__title {
        font-size: var(--h1-font-size);
    }

    .footer__data {
        grid-template-columns: max-content;
    }


}


@media screen and (max-width: 768px) {

    .offer__container .section__header,
    .offer__card-wrapper:nth-child(1),
    .offer__card-wrapper:nth-child(2),
    .offer__card-wrapper:nth-child(3),
    .offer__card-wrapper:nth-child(4) {
        top: unset;
        position: relative;
    }

    .offer__content-cards {
        margin-top: 2rem;
    }

    .offer__card-container {
        gap: 2rem;
    }

}

/* For medium devices */
@media screen and (min-width: 576px) {
    .footer__data {
        grid-template-columns: repeat(3, max-content);
    }
}


@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }


    .hero__card {
        flex-direction: row;
    }

    .solution__container {
        grid-template-columns: 1fr 1.8fr;
    }

    .solution__data-left .explore__content {
        grid-template-columns: 1fr 1fr;
    }

    .reviews__container {
        grid-template-columns: 1fr 2fr;
    }

    .reviews__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .faqs__container {
        grid-template-columns: 1fr 1fr;
    }

    .footer__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .footer__group {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__copy {
        order: -1;
    }

    .offer__content-cards {
        grid-template-columns: 1fr 1.8fr;
    }

    .offer__left {
        display: grid;
        align-items: center;
    }

    .property__content-container,
    .property__row {
        grid-template-columns: 2fr .5fr;
    }

}

/* For large devices */
@media screen and (min-width: 1024px) {

    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__hero-container {
        grid-template-columns: 1fr 1fr;
    }


    .footer {
        padding-block: 5rem 3rem;
    }

    .footer__title {
        margin-bottom: 1.5rem;
    }

    .footer__group {
        margin-top: 2rem;
    }

    .footer__social {
        column-gap: 2rem;
    }

    .footer__social-link {
        font-size: 1.5rem;
    }
}

// @media screen and (min-width: 1400px) {

// }