.faqs__data-right .section__round-pill{
    margin: 0;
}

.questions__container {
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.questions__group {
    display: grid;
    row-gap: 1rem;
}

.questions__item {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    border-bottom: 1px solid var(--primary);
}

.questions__item-title {
    font-size: var(--h3-font-size);
    line-height: 1.2;
}

.questions__icon {
    fill: var(--text-primary);
    transition: 0.3s;
}

.questions__description {
    font-size: var(--normal-font-size);
    line-height: 1.2;
    padding: 0 1.25rem 1.25rem 2.5rem;
    transition: 0.3s;
    color: var(--text-muted);
    margin-bottom: var(--mb-0-5);
}

.questions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1.5rem .5rem;
    cursor: pointer;
    transition: 0.3s;
}

.faqs__reviews-container .reviews__card {
    top: unset;
    position: relative;
}

.questions__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordion-open .questions__icon {
    transform: rotate(45deg);
}

.accordion-open .questions__content {
    max-height: 200px;
}