.solution__data-right .section__round-pill{
    margin: 0;
}


.solution__data-right .section__subtitle {
    margin-bottom: var(--mb-2);
}

.solution__data-numbers {
    grid-template-columns: 1fr 1fr;
    margin-top: var(--mb-2);
}

.solution__data-number h4{
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin: 0;
}

